* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vb;
    text-align: center;
    background-color: rgb(243, 210, 215);
}

.btn a {
    text-decoration: none;
    color: #111;
    background: white;
    padding: 10px 25px;
    border-radius: 8px;
}

img {
    margin: 10px;
    width: 20%;

}